


.container {
  padding: 0 2rem;
}

.main {
  min-height: 92vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: start;
  align-items: center;
  gap:10px;
}

.main h1{
  font-style: italic;
  font-weight: 900;
  font-size: 3REM;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: all 0.2s ease;
}

.footer a:hover{
  color: var(--primary-color);
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card button{
  cursor: pointer;
  border: none;
  width: max-content;
  height: min-content;
  margin: 20px 20px 20px 0px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  font-size: large;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.card button:hover{
  background-color: white;
  color: var(--primary-color);
}
.card svg{
  width: 35px;
}
.card button a{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  max-width: 1000px;
  transition: all 0.2s ease;
}

.card ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
}

.card div .box{
  border: 1px solid red;
}

.card ul li{
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card:hover,
.card:focus,
.card:active {
  border-color: var(--primary-color);
}

.card h2:hover,
.card h2:focus,
.card h2:active{
  color: var(--primary-color);
}



.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.card img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  max-height: 40vh;

}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.button{
  border:none;
  color: rgb(254, 249, 249);
  padding:20px;
  font-size: xx-large;
  border-radius: 20px;
  background-color: var(--primary-color);
  box-shadow: 8px 8px  var(--primary-color-light);
  transition: all 0.2s ease;
}

.button:active{
  transform: translateX(8px) translateY(8px);
  box-shadow: none;

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }

  .card button:hover{
    background-color: rgb(31, 31, 31);
  }
}
